<%# /entries/:id/editへアクセスされた際に表示するhtmlを生成するテンプレート %>
<h1>Editing Entry</h1>

<%# フォームの中身は部分テンプレートの_formに記述する %>
<%= render 'form', entry: @entry %>

<%# showへのリンク %>
<%= link_to 'Show', @entry %>
<%# indexへのリンク %>
<%= link_to 'Back', entries_path %>
