//通知のテキスト色設定
#notice {
  color: green;
}

// バリデーションエラーが起きた入力ボックスのスタイル設定
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

// バリデーションエラー時のエラー表示欄のスタイル設定
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}